<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Úvodná stránka</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body style="padding:10px">
    <h3>Vitajte v e-shope s tričkami v 1.0 | Objednávkový systém</h3>
    <p>Toto je jednoducha evidenicia objednavok triciek registrovanych uzivatelov</p>
    <div style="display:inline-flex">
    <a style="margin:5px" class="btn btn-info" href="/zobraz-vsetky-objednavky">Zobraz všetky objednávky</a><br>
    <a style="margin:5px" class="btn btn-info" href="/pridaj-objednavku">Pridaj objednávku</a><br>
    <a style="margin:5px" class="btn btn-info" href="/registruj-pouzivatela">Registruj používateľa</a>
    </div>
</body>
</html>