<!DOCTYPE html>
<html lang="sk" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pridaj novú objednávku</title>
</head>
<body>
  <h1>Pridaj novú objednávku</h1>
  <form method="POST" th:action="@{/uloz-objednavku}" th:object="${objednavkaObjektThymeleaf}"><!-- objednavkaObjektThymeleaf je presne to iste, co mame v controlleri, ked volame tuto stranku -->
    Popis <input th:field="*{popis}" type="text" /><br />
    Farba
    <select th:field="*{farba}">
      <option value="Červené">Červené</option>
      <option value="Modré">Modré</option>
      <option value="Zelené">Zelené</option>
    </select><br />
    Značka <input th:field="*{znacka}" type="text" /><br />
    Veľkosť
    <select th:field="*{velkost}">
      <option value="XS">XS</option>
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XL">XL</option>
    </select><br />
    Počet <input th:field="*{pocet}" type="number" /><br />
    Dátum objednávky <input th:field="*{datumObjednavky}" type="date" /><br />
    Meno zákazníka <input th:field="*{menoZakaznika}" type="text" /><br />
    <input th:field="*{pouzivatel.id}" type="hidden" /><br />
    <button type="submit">Ulož objednávku</button>
  </form>
  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
  </form>
</body>
</html>